/*.navbar{
  background: #2EBD59;
}*/

/*.navbar-header{
   left: 50%;
   position: relative;
   transform: translateX(-50%);
}*/

/*.navbar-default .navbar-brand {
    color: white;
}*/




.jumbotron {
  text-align: center;
  height: 65vh;
  background-image:url('./img/pipes-main.jpg');
}

.col-md-4 {
  text-align: center;
}
